deepspeed==0.17.0
toml
transformers
git+https://github.com/huggingface/diffusers@50e18ee6982f8006e7247c756c573b8204fe354b
datasets
pillow
sentencepiece
protobuf
peft
torch-optimi
tensorboard
tqdm
safetensors
bitsandbytes
imageio[ffmpeg]
av
einops
accelerate
loguru
flash-attn==2.8.1
omegaconf
iopath
termcolor
hydra-core
easydict
ftfy
pytorch-optimizer
wandb
optimum-quanto
